{% extends "Control_Access/base.html" %}
{% block content %} 
    <div class="row">     
        <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto" > 
            {% if validlink %}
            <p>Por favor, insira sua nova senha duas vezes</p>
            <form method="post" class="d-flex flex-column align-items-center justify-content-center mt-5" style="height: 70vh;">
                {% csrf_token %}
                
                <!-- SEÇÃO SENHA -->
                <div>
                    <label class="fs-1"> Nova Senha </label>
                    <br>
                    <input class="mb-5 col-11 col-sm-10 col-md-8 col-lg-10" type="password" placeholder="Insira a nova senha">
                    <br>
                    <label class="fs-1"> Confirma a senha </label>
                    <input class="col-11 col-sm-10 col-md-8 col-lg-10" type="password" placeholder="Confirma a senha">
                </div>
                <div>
                    <p class="fst-italic mt-2"> A senha de conter pelo menos 8 caracteres, incluindo letras, números e símbolos </p>
                </div>
                <!-- SEÇÃO BOTÃO-->
                <div>
                    <button type="submit" class="fs-5 p-3 mt-5 botao-resetar-senha border-dark" id="senha"> Resetar Senha </button>           
                </div>            
            </form>
            {% else %}
                <div class="alert alert-danger">
                    Este link para redefinição de senha é inválido, provavelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.
                </div>
            {% endif %}
        </div>    
    </div>
{% endblock %}